*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eaeef0;
}
.loader{
  position: relative;
  display: flex;
}
.loader span{
  position: relative;
  width: 250px;
  height: 250px;
  background: #eaeef0;
  border: 6px solid #eaeef0;
  border-radius: 50%;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
  8px 8px 25px rgba(0, 0, 0, 0.2);
}
.loader span::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
  inset -5px -5px 15px rgba(255, 255, 255, 1);
}
.loader span::after{
  content: '';
  position: absolute;
  inset: 40px;
  background: #eaeef0;
  border-radius: 50%;
  border: 3px solid #eaeef0;
  box-shadow: -8px -8px 25px rgba(255, 255, 255, 1),
  8px 8px 25px rgba(0, 0, 0, 0.25),
  inset 3px 3px 10px rgba(0, 0, 0, 0.15),
  inset -1px -1px 15px rgba(255, 255, 255, 1);
}
.loader span i{
  position: absolute;
  inset:0;
  border-radius: 50%;
  filter: blur(5px);
  background: linear-gradient(rgb(87, 170, 248), crimson, orange);
  animation: anim 0.75s linear infinite;
}

@keyframes anim {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.rocket{
  position: absolute;
  inset: 50px;
  z-index: 10;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rocket .fa-rocket{
  position: absolute;
  color: crimson;
  font-size: 4em;
  -webkit-text-stroke: 1px rgb(19, 19, 19);
  animation: animatedRocket 0.3s linear infinite;
}

@keyframes animatedRocket {
  0%, 100%{
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50%{
    transform: translate(0px, 3px) rotate(-45deg);
  }
}
.fa-cloud{
  position: absolute;
  top: calc(35px * var(--i));
  left: calc(45px * var(--i));
  font-size: 2em;
  color: #eaeef0;
  -webkit-text-stroke: 1.5px rgb(19, 19, 19);
  animation: animatedCloud 1s linear infinite;
  animation-delay: calc(0.5s * var(--i));
}
@keyframes animatedCloud {
  0%{
    transform: translateY(calc(-35 * 5px));
  }
  100%{
    transform: translateY(calc(35 * 5px));
  }
}